@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Jersey+20&family=Nerko+One&family=Poller+One&display=swap");

:root {
  --vermelho: #f23041;
  --amarelo: #f2b807;
  --verde: #05594a;
  --branco: #f2e3d5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #f2e3d5;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: #cc1c2b;
  font-family: Fredoka, "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-weight: 600;
}

.navSubtitulo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-cards {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

.acamp-card {
  width: 100%;
  height: 55vh; /*aqui eu mudei, deixei 55, antes era 60. */
  background-color: #f2b807;
  display: flex;
  flex-direction: column;
}

.acamp-link button {
  --corBnt: var(--amarelo);
  color: #a16409;
  margin-top: -40px;
  margin-left: auto;
}

.imgAcamp {
  padding-right: 40px;
  margin-top: 40px;
  display: flex;
  justify-content: end;
}
.imgAcamp img {
  transform: rotate(7deg);
}

.tituloAcamp {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  color: #f2e3d5;
}
.tituloAcamp span {
  font-family: fredoka;
  font-size: 1.4em;
  text-transform: lowercase;
}
.tituloAcamp h1 {
  font-family: Poller One;
  font-size: 2em;
  text-transform: uppercase;
}

.data {
  align-self: baseline;
}

.check-card {
  width: 100%;
  height: 30px;
  background-color: #f23041;
  z-index: 11;
}

.bnt {
  width: 180px;
  height: 46px;
  border-radius: 40px 40px 0 0;
  padding-top: 10px;
  background-color: var(--corBnt);
  border: none;
  font-family: Poller One;
  text-transform: uppercase;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-link button {
  --corBnt: var(--vermelho);
  color: #700d16c4;
  margin-top: -40px;
  margin-left: 5px;
}

.quarto-card {
  width: 100%;
  height: 30px;
  background-color: #f2e3d5;
  display: flex;
  justify-content: end;
  z-index: 11;
}

.quarto-link button {
  --corBnt: var(--branco);
  color: #a58a6e;
  margin-top: -45px;
  margin-right: 5px;
}

.culto-card {
  width: 100%;
  height: 30px;
  background-color: #f2b807;
  z-index: 11;
}

.culto-link button {
  --corBnt: var(--amarelo);
  color: #a16409;
  margin-top: -45px;
  margin-left: 20px;
}

.program-card {
  width: 100%;
  height: 60px;
  background-color: #05594a;
  display: flex;
  justify-content: end;
  z-index: 11;
}

.program-link button {
  --corBnt: var(--verde);
  color: #033027;
  margin-top: -40px;
  margin-right: 15px;
}

/* Abaixo fica as animações de cada pasta */
.acamp-card,
.check-card,
.quarto-card,
.culto-card,
.program-card {
  transition: height 0.5s ease; /* O navegador agora suaviza QUALQUER mudança de altura */
}

.aumentar {
  height: 50vh;
}

.aumentarAcamp {
  height: 55vh;
}

.diminuir {
  height: 5vh;
}
