@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Jersey+20&family=Nerko+One&family=Poller+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #f2e3d5;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: #cc1c2b;
  font-family: Fredoka, "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-weight: 600;
}

.navSubtitulo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card {
  width: 100%;
}

.acamp-card {
  height: 60vh;
  background-color: #f2b807;
  display: flex;
  flex-direction: column;
}

.acamp-link a {
  width: 180px;
  height: 40px;
  border-radius: 40px 40px 0 0;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #f2b807;
  color: #a16409;
  top: -40px;
  right: 10px;
}

.imgAcamp {
  padding-right: 40px;
  margin-top: 40px;
  display: flex;
  justify-content: end;
}
.imgAcamp img {
  transform: rotate(7deg);
}

.tituloAcamp {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  color: #f2e3d5;
}
.tituloAcamp span {
  font-family: fredoka;
  font-size: 1.4em;
  text-transform: lowercase;
}
.tituloAcamp h1 {
  font-family: Poller One;
  font-size: 2em;
  text-transform: uppercase;
}

.data {
  align-self: baseline;
}

main a {
  text-decoration: none;
  font-family: Poller One;
  text-transform: uppercase;
  font-size: 1em;
}

.check-card {
  height: 30px;
  background-color: #f23041;
  padding-left: 1vw;
}

.check-link a {
  width: 180px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px 40px 0 0;
  padding-top: 10px;
  position: relative;
  background-color: #f23041;
  color: #700d16c4;
  bottom: 5vh;
}

.quarto-card {
  height: 30px;
  background-color: #f2e3d5;
  display: flex;
  justify-content: end;
}

.quarto-link a {
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px 40px 0 0;
  padding-top: 10px;
  position: relative;
  background-color: #f2e3d5;
  color: #a58a6e;
  bottom: 5vh;
  right: 3vw;
}

.culto-card {
  height: 30px;
  background-color: #f2b807;
}

.culto-link a {
  width: 180px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px 40px 0 0;
  padding-top: 10px;
  position: relative;
  background-color: #f2b807;
  color: #a16409;
  bottom: 5vh;
  left: 7vw;
}

.program-card {
  height: 60px;
  background-color: #05594a;
  display: flex;
  justify-content: end;
}

.program-link a {
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px 40px 0 0;
  padding-top: 10px;
  background-color: #05594a;
  position: relative;
  color: #033027;
  bottom: 5vh;
  right: 5vw;
}

/* Abaixo fica as animações de cada pasta */

/* Checklist */

/* Ent como eu tirei o estilo da div que guarda o link, o comando abaixo se tornou inutil
espero que vc n se importe */

/* #checklist.subir {
  transform: translateY(-100px);
} */

.check-card.aumentar {
  height: 30vh;
}

/* Quartos */
/* #quartos.subir {
  transform: translateY(-100px);
} */

.quarto-card.aumentar {
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  margin-bottom: 60px;
  height: 40vh;
}
